#### Tuples in Python

Learning Competencies
- 1. Creating empty tuple
- 2. Slicing Tuples 
- 3. Coversion of tuple to list and list to tuple
- 4. Concatenating two tuples 
- 5. Repeating Tuples
- 6. count() method
- 7. index() method
- 8. packing of a tuple
- 9. Unpacking of a tuple 
- 10. Unpacking of a tuple using a * 
- 11. Demonstrate nested lists a

In [1]:
# Creating an empty tuple 
empty_tuple = tuple()
print(type(empty_tuple))

<class 'tuple'>

In [1]:
tpl = tuple()
print(type(tpl))

<class 'tuple'>

In [3]:
tup = (1 ,2 ,3 ,4 ,5 ,6 )
# converting into a list 
lst = list(tup)
print(type(lst))

<class 'list'>

In [5]:
ls = [1, 2, 3 ,5 ,6 ,9]
ls = tuple(ls)
print(type(ls))

<class 'tuple'>

In [ ]:
numbers = (10 , 20 , 30 , 50 , 5,208 , 102 , 34,29)

In [10]:
# Accessing the elements in a tuple 
print(numbers[2])
print(numbers[-1])

30
5

In [ ]:
# Print the elements from 0 index to 4th index
print(numbers[0:4])
print(numbers[::-1])

(10, 20, 30, 50)
(5, 50, 30, 20, 10)

In [14]:
mixed_tuple = (1, 'Hello World' , 3.14 , True)

In [15]:
# Concatenating 2 tuples 
concatenated_tuple = numbers + mixed_tuple 
print(concatenated_tuple)

(10, 20, 30, 50, 5, 1, 'Hello World', 3.14, True)

In [ ]:
# Repeating tuples 
print(mixed_tuple*3)

(1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True)

In [ ]:
# Tuple methods 
numbers2 = (10 ,10 ,20 , 30 , 50 , 5,208 , 102 , 34,29)
print(numbers2.count(10)) # Returns the count of elements in a tuple
print(numbers2.index(208)) # Returns the index where the element is present

2
6

In [ ]:
# Packs the tuple 
packed_tuple = 1 ,2 ,3 , "hello" , True
print(packed_tuple)

(1, 2, 3, 'hello', True)

In [28]:
# Unpacking a tuple 
# Unpacking means simply extracting the elements from a tuple into separate variables 
packed_tuple2 = 1 ,2 ,3 , "hello" , True

# Let's unpack the tuple 
a , b , c , d , e = packed_tuple2
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
hello
True

In [30]:
even_tuple = (2 , 4 , 6 , 8 , 10 , 12 ,14 , 16 , 18 , 20)
start , *middle ,end = even_tuple
print(start)
print(middle)
print(end)

2
[4, 6, 8, 10, 12, 14, 16, 18]
20

In [1]:
#     ---0---   ----1--   --------2----------
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]

# Print the 2nd index and inside it print from 1 to 3.14
print(lst[2][0:3])

[1, 'Hello', 3.14]

In [3]:
# Do the above operation with the tuples too
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0]) # Output : (1, 2 ,3 )
print(nested_tuple[1][2]) # This will first go into the 1st index and then inside that will print the element at 2nd index
# Output : c

(1, 2, 3)
c

In [4]:
# Lets iterate over nested tuples
for sub_tuple in nested_tuple: 
    for items in sub_tuple: 
        print(items,end=" ")
    print()

1 2 3
a b c
True False