#### All about Sets

In [1]:
st = {23, 3 ,56 ,323}
print(type(st))

<class 'set'>

In [1]:
my_empty_set = set(); 
print(type(my_empty_set))

<class 'set'>

In [2]:
my_set = set([1,2,3,4,5,6, 7])
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [1]:
# Basic Set Operations 
# 1. Add operation 
set1 = set([2,4,6 ,8 , 10, 12 , 14 ])
print(set1)

{2, 4, 6, 8, 10, 12, 14}

In [2]:
# 1. Add Operation
set1.add(16)
print(set1)
set1.add(16) # Tried to add same element '16' twice ,
# set ignored it and inserted only once , so set don't allow duplicates

{2, 4, 6, 8, 10, 12, 14, 16}

In [3]:
# 2. Removing an element
# remove() method removes elements based on the specified elemen 
# set1 = set([2,4,6 ,8 , 10, 12 , 14 ])
# Remove 8 from the set 
set1.remove(8) # Removes the element (8) from the set
print(set1)

{2, 4, 6, 10, 12, 14, 16}

In [4]:
# Trying to remove an element which is not present in the set 
set1.remove(20)

KeyError: 20

In [5]:
# If you try to remove an element from a set which is not present in 
# in the set but you don't want to see error 
# You want if the element is present remove it 
# and if the element isn't present in the set then dont give any error 
# There we can use our discard method 

# set1 = set([2,4,6 ,8 , 10, 12 , 14 ])
set1.discard(100)
print(set1) # 100 is not in the set but python don't raise any error

{2, 4, 6, 10, 12, 14, 16}

In [7]:
even_set = set([1, 3, 5, 7 , 9 , 11 , 13, 15 , 17])

In [10]:
removed_elements = even_set.pop()
print(removed_elements)

5

In [ ]:
# Clearing the 
# even_set.clear()
# print(even_set)

In [ ]:
# Set Membership test 
# We can test to know whether an element is present in the set or not 
a_set = set([1,2,48 ,43, 89 , 89 , 24])
print(54 in a_set) # Returns false because 54 is not in set 
print(24 in a_set) # Returns true because 24 is in set

False
True

In [14]:
# Set Mathematical Operations 
# 1. Union Operation
set_A = set([1,2,3,4,5,6])
set_B = set([4,5,6,7,8,9])
union_set = set_A.union(set_B)

In [16]:
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [1]:
set_A = set([1,2,3,4,5,6])
set_B = set([4,5,6,7,8,9])
intersection_set = set_A.intersection(set_B)
print(intersection_set)

{4, 5, 6}

In [ ]:
# intersection() method returns the common elements among both the sets
# intersection_update() actually updates the first set with the intersection elements
# set_A = set([1,2,3,4,5,6])
# set_B = set([4,5,6,7,8,9])

set_A.intersection_update(set_B) # Updated the set 2 with intersection elements 
print(set_A) # Output : {4, 5 ,6}

{4, 5, 6}

In [1]:
# Difference 
set_C = set([1,2,3,4,5,6])
set_D = set([4,5,6,7,8,9])

diffe = set_C.difference(set_D)
print(diffe) # difference() removes the elements of the second set and the common elements 
# in both the sets ,

{1, 2, 3}

In [ ]:
# difference_update 
set_C.difference_update(set_D)
print(set_C) # difference_update updates the first set instead of returning

{1, 2, 3}

In [ ]:
# symmetric difference 
set_C = set([1,2,3,4,5,6])
set_D = set([4,5,6,7,8,9])
sd = set_C.symmetric_difference(set_D)
print(sd) # symmetric difference removes the common elements from both the sets and display all other elements which are uncommon

{1, 2, 3, 7, 8, 9}

In [ ]:
# Validation Operations on sets 
# 1. issubset()
set_X = {1, 2 ,3 ,4 , 5 , 6 , 7 , 8 , 9 , 10}
set_Y = {4, 5, 6, 7 , 8 , 9}

# This means that (set_Y is a subset of set_X ) Output : True
print(set_Y.issubset(set_X))

True

In [ ]:
# 2. issuperset()
# This means that (set_X is a superset of set_Y+)
print(set_X.issuperset(set_Y))

True

In [ ]:
# Counting unique words in a sentence 
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))