##### Dictionaries

In [ ]:
empty_dict = {}
print(type(empty_dict))

In [ ]:
student = {
    "name " : "Samad", 
    "id "   :    54 , 
    "age "  :  20
}

print(student)

In [ ]:
# What if we re-define the keys 
data = {
    "name " : "Samad", 
    "id "   :    54  , 
    "age "  :  20    , 
    "name " :   37 
}

print(data)
# This shows if we re define the keys then it gets overwritten by the latest one 
# Multiple keys with same names gets overwritten

In [ ]:
data2 = {
    "name" : "Samad", 
    "id"   :    54  , 
    "age"  :  20    
}

# Printing the value 
print(data2["name"])
print(data2['id'])

# Printing using get() method
print(data2.get('name'))
print(data2.get('id'))

In [ ]:
# Printing the element which is not present in the dictionary 
print(data2.get('last_name')) # Output : None 

# We can also specify what to print if the element is not present in the dictionary 
print(data2.get('lastname' ,"Not Available"))

In [ ]:
# Adding new key-value pair to an existing dictionary 
# data2 = {
#     "name" : "Samad", 
#     "id"   :    54  , 
#     "age"  :  20    
# }

data2["address"] = "Mumbai" # address column is added to the dictionary 
data2["age"] = 21 # age is an existing key so age got updated from 20 to 21
print(data2)

In [ ]:
# Delete the key from the dictionary 
# Deleting a key-value from the dictionary
del data2['age']

In [ ]:
keys = data2.keys()
print(keys)
value = data2.values()
print(value)

items = data2.items()
print(items)

In [1]:
data3 = {
    "name" : "Samad", 
    "id"   :    54  , 
    "age"  :  20    , 
}

print(data3)

{'name': 'Samad', 'id': 54, 'age': 20}

In [2]:
data3_copy = data3
print(data3_copy)
print(data3)

{'name': 'Samad', 'id': 54, 'age': 20}
{'name': 'Samad', 'id': 54, 'age': 20}

In [3]:
data3["age"] = 22

In [4]:
print(data3_copy)
print(data3)

{'name': 'Samad', 'id': 54, 'age': 22}
{'name': 'Samad', 'id': 54, 'age': 22}

In [5]:
data3_copy2 = data3.copy()
print(data3_copy2)
print(data3)

{'name': 'Samad', 'id': 54, 'age': 22}
{'name': 'Samad', 'id': 54, 'age': 22}

In [6]:
data3["age"]=25
print(data3)
print(data3_copy2)

{'name': 'Samad', 'id': 54, 'age': 25}
{'name': 'Samad', 'id': 54, 'age': 22}

In [7]:
print(data3)

{'name': 'Samad', 'id': 54, 'age': 25}

In [ ]:
# Iterating over keys in dictionary 
for keys in data3.keys(): 
    print(keys)

name
id
age

In [10]:
# Iterating over values in dictionary 
for values in data3.values(): 
    print(values)

Samad
54
25

In [11]:
# Iterating over full dictionary 
for key, values in data3.items():
    print(f"{key} : {values}")

name : Samad
id : 54
age : 25

In [1]:
student_data = {
    "Student1" : {
    "name" : "Samad", 
    "id"   :    54  , 
    "age"  :  20    
    },

    "Student2" : {
    "name" : "Umar", 
    "id"   :    100  , 
    "age"  :  20    
    },

    "Student3" : {
    "name" : "Usman", 
    "id"   :    23  , 
    "age"  :  20    
    }
}

In [6]:
# Iterating over Nested Dictionary 
for student_id , student_info in student_data.items(): 
    for keys,values in student_info.items(): 
        print(f"{keys} : {values}")

name : Samad
id : 54
age : 20
name : Umar
id : 100
age : 20
name : Usman
id : 23
age : 20

In [ ]:
# Dictionary Comprehension 
squares = {}
for i in range(1,11,1): 
    squares[i] = i**2

for keys, values in squares.items(): 
    print(f"{keys} : {values}" )



# With Dictionary comprehension 
squarez = {i:i**2 for i in range(1,11,1)}
print(squarez)

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [13]:
# Dictionary comprehension using conditions
even_squares = {i:i**2 for i in range(1,21, 1) if i%2==0 }
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [14]:
# Count the frequency of elements using a list and dictionary 
numbers=[1,2,2,3,3,3,4,4,4,4]
frequency = {}

for number in numbers : 
    if number in frequency: 
        frequency[number]+=1 
    else: 
        frequency[number]= 1 

print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)