### Competencies

1. Declaring and Assigning variables 
2. Naming Conventions
3. Data Types 
4. Type Checking and Conversion
5. Dynamic Typing
6. User Input

In [ ]:
# 1. Declaring and Assigning Variables 
age = 20 
height = 6.4
name = "Samad"
is_student = True


# Printing variables 
print("Name : ",name)
print("Age : ",age)
print("Height : ",height)

Name :  Samad
Age :  20
Height :  6.4

In [ ]:
# 2. Data Types 
id = 12
s_name = "Ilaf"
role = "Developer"
salary = 5.4 
is_female = True

# 3. Type Checking / Printing their types 
print(type(id))
print(type(s_name))
print(type(role))
print(type(salary))
print(type(is_female))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
# Data Type Conversion 

# Converting string to int , where string contains a numerical value  
age2 = "53"
print(type(age2))
age3 = int(age2)
print(type(age3))

<class 'str'>
<class 'int'>

In [ ]:
fname = "samad"
print(type(fname))
# Can't convert string to int where string contains a string value 
new_name = int(fname)

<class 'str'>

ValueError: invalid literal for int() with base 10: 'samad'

In [2]:
# 5. Dynamic Typing 
var = 10 
print(var , type(var))

var = "Hello"
print(var  , type(var))

var = 3.9
print(var , type(var))

10 <class 'int'>
Hello <class 'str'>
3.9 <class 'float'>

In [4]:
a = int(input("Enter a nuber : "))
print(a,type(a))

543 <class 'int'>

In [5]:
# Creating my calculator 
num1 = float(input("Enter first number : "))
num2 = float(input("Enter second number : "))


sum = num1+num2
difference = num1-num2
multiply = num1*num2
divide = num1/num2

print("Sum : ",sum)
print("Difference : ",difference)
print("Multiply : ",multiply)
print("Division : ",divide)

Sum :  55.0
Difference :  45.0
Multiply :  250.0
Division :  10.0